.topnav {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.topnav ul {
  display: inline;
  list-style-type: none;
}

.topnav li {
  float: left;
  text-align: center;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav li:hover {
  background-color: #ddd;
  color: black;
}

.topnav li.active {
  background-color: #4CAF50;
  color: white;
}

.container {
  text-align: center;
}

.background_img {
  min-height: 100%;
  /*min-width: 1024px;*/
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.45;
}

#home_div, #contact_div {
  position: absolute;
  top: 20%;
  left: 5%;
}

#home_div {
  max-width: 60vw;
}

#home_div p {
  font-size: 25px;
  text-align: center;
}

#contact_div {
  top: 25%;
  left: 10%;
}

#contact_div td, #contact_div th {
  font-size: 25px;
  text-align: left;
  padding: 5px;
}

#machines_div {
  position: relative;
  max-width: 100%;
  padding-top: 60px;
  padding-left: 30px;
  padding-right: 30px;
 /* display: flex;  */
}

.machine_container {
  min-width: 300px;
  max-width: 300px;
  margin-left: 20px;
  margin-right: 20px;
  float: left;
  overflow: hidden;
}

.machine_image {
  width: 300px;
  height: auto;
}

.machine_name{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

#machine_div {
  position: absolute;
  top: 12%;
  left: 5%;
}

#machine_div h2, #machine_div p {
  text-align: left;
  max-width: 90%;
}

#machine_div p, #machine_div th, #machine_div td {
  font-size: 18px;
}

#machine_div table, #machine_div th, #machine_div td {
  border: 1px solid black;
  border-collapse: collapse;
}

#machine_div th, #machine_div td {
  padding: 2px;
}