<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <title>Machine Rental</title>
  </head>

  <body>

  <div class="container">
      <img class="background_img" src="{% static 'background.jpg' %}" >

      <div id="topnav" class="topnav">
        <ul>
          <li><a class="menu_item" href="{% url 'home' %}">Home</a></li>
          <li><a class="menu_item" href="{% url 'machines' %}">Machines</a></li>
          <li><a class="menu_item" href="{% url 'contact' %}">Contact</a></li>
        </ul>
      </div>

      {% block 'body' %}
      {% endblock %}

    </div>

  </body>
</html>
