{% extends 'base.html' %}
{% block 'body' %}
<div id="contact_div">
    <table>
        <tr>
            <td>Phone number:</td>
            <td>+36 30 968 4953</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>takacsattila34@gmail.com</td>
        </tr>
        <tr>
            <td>Address:</td>
            <td>5400 Mezotur, Puskin utca 28</td>
        </tr>
        <tr>
            <td>Opening hours:</td>
            <td>12:00 - 20:00</td>
        </tr>
    </table>
</div>
{% endblock %}