{% extends 'base.html' %}
{% block 'body' %}
{% load static %}
<div id="machines_div">

        {% for machine in machine_list %}
            <div class="machine_container">
                <p class="machine_name">{{ machine.machine_name }}</p>
                <p><a href="{% url 'machine' machine_id=machine.machine_id %}"><img class="machine_image" src="{{ machine.machine_image.url }}" ></a></p>
            </div>
        {% endfor %}
    
</div>
<div id="machine_description">

</div>
{% endblock %}
